body{
	background-color:#414141;
}
.letra{
	color: #FFFFFF;
}
.borde{
	border-bottom: solid;
	border-color: #FFFFFF;
	border-width: 1px;
}
#video{
	margin-top: 75px;
	margin-bottom: 75px;
}
.abajo{
	margin-bottom: 75px;
}
